* text=auto !eol
/.classpath -text svneol=unset#application/xml
/.project -text svneol=unset#application/xml
.settings/.jsdtscope -text svneol=unset#application/xml
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text svneol=unset#application/xml
.settings/org.eclipse.wst.common.project.facet.core.xml -text svneol=unset#application/xml
.settings/org.eclipse.wst.jsdt.ui.superType.container -text
.settings/org.eclipse.wst.jsdt.ui.superType.name -text
.settings/org.eclipse.wst.validation.prefs -text
WebContent/META-INF/MANIFEST.MF -text
WebContent/WEB-INF/web.xml -text svneol=unset#application/xml
WebContent/cd2h/dashboard.jsp -text
WebContent/cd2h/dashboard_d3.jsp -text
WebContent/cd2h/data.jsp -text
WebContent/cd2h/project.jsp -text
WebContent/cd2h/projects.jsp -text
WebContent/footer.jsp -text
WebContent/footer2.jsp -text
WebContent/github/annotation.jsp -text
WebContent/github/repos.jsp -text
WebContent/graphs/data.csv -text
WebContent/graphs/forceGraph.jsp -text
WebContent/graphs/forcePhoto.jsp -text
WebContent/graphs/singleHorizontalStackedBar.jsp -text
WebContent/graphs/verticalBarChart.jsp -text
WebContent/head.jsp -text
WebContent/header.jsp -text
WebContent/header2.jsp -text
WebContent/images/bullet-l1.gif -text svneol=unset#image/gif
WebContent/images/cd2h_honeycomb.png -text svneol=unset#image/png
WebContent/images/cd2h_imgs/adam_wilcox.png -text
WebContent/images/cd2h_imgs/bill_hersh.png -text
WebContent/images/cd2h_imgs/christopher_chute.png -text
WebContent/images/cd2h_imgs/chunlei_wu.png -text
WebContent/images/cd2h_imgs/david_dorr.png -text
WebContent/images/cd2h_imgs/david_eichmann.png -text
WebContent/images/cd2h_imgs/eilis_boudreau.png -text
WebContent/images/cd2h_imgs/firas_wehbe.png -text
WebContent/images/cd2h_imgs/john_wilbanks.png -text
WebContent/images/cd2h_imgs/justin_guinney.png -text
WebContent/images/cd2h_imgs/kari_stephens.png -text
WebContent/images/cd2h_imgs/keith_herzog.png -text
WebContent/images/cd2h_imgs/kristi_holmes.png -text
WebContent/images/cd2h_imgs/liz_zampino.png -text
WebContent/images/cd2h_imgs/matt_carson.png -text
WebContent/images/cd2h_imgs/melissa_haendel.png -text
WebContent/images/cd2h_imgs/nic_dobbins.png -text
WebContent/images/cd2h_imgs/peter_robinson.png -text
WebContent/images/cd2h_imgs/philip_payne.png -text
WebContent/images/cd2h_imgs/robert_schuff.png -text
WebContent/images/cd2h_imgs/robin_champieux.png -text
WebContent/images/cd2h_imgs/sara_gonzales.png -text
WebContent/images/cd2h_imgs/shannon_mcweeney.png -text
WebContent/images/cd2h_imgs/ted_laderas.png -text
WebContent/images/cd2h_imgs/tim_bergquist.png -text
WebContent/images/cd2h_invent.png -text
WebContent/images/ctsa-g-logo.jpg -text svneol=unset#image/jpeg
WebContent/images/masthead-divider.png -text svneol=unset#image/png
WebContent/images/masthead-hhs-logo.png -text svneol=unset#image/png
WebContent/images/masthead-nih-logo.png -text svneol=unset#image/png
WebContent/images/onlinelogomaker-111617-1142-7717.png -text svneol=unset#image/png
WebContent/images/person_icon.png -text
WebContent/incite/browse.jsp -text
WebContent/incite/termData.jsp -text
WebContent/index.jsp -text
WebContent/proposals/data.jsp -text
WebContent/proposals/display.jsp -text
WebContent/proposals/merge.jsp -text
WebContent/proposals/mergers.jsp -text
WebContent/proposals/split.jsp -text
WebContent/resources/cd2h -text
WebContent/resources/css -text
WebContent/resources/d3.v3.min.js -text
WebContent/resources/jdbc_environment.jsp -text
WebContent/resources/layout.css -text
WebContent/resources/slick.min.css -text
WebContent/resources/style.css -text
WebContent/resources/styles.css -text
/pom.xml -text
